[submodule "app/framework"]
	path = app/framework
	url = git@github.com:zhaoshiling1017/app-framework.git
[submodule "app/views/tags"]
	path = app/views/tags
	url = git@github.com:zhaoshiling1017/app-tags.git
